<template>
  <div id="app">
    <el-container>
      <el-header class="color-background header">
        <el-container>
          <span>
            <img src="@/assets/logo.png" height="120px" style="margin-top: 10px" />
          </span>
          <span>
            <h1 style="margin-top: 50px; margin-left: 20px;">CollabCoin</h1>
          </span>
        </el-container>
      </el-header>
    </el-container>
    <el-container>
      <el-container>
        <TopMenu />
        <MessageBox />
        <router-view />
        <el-footer class="dark-background footer">
          <h6>© HSLU | Bissig, Herger, Wälchli, Zürcher</h6>
        </el-footer>
      </el-container>
    </el-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import TopMenu from './components/navigation/TopMenu.vue'
import MessageBox from './components/MessageBox.vue'

@Component({
  components: {
    TopMenu,
    MessageBox
  }
})
export default class App extends Vue {}
</script>

<style></style>
