<template>
  <el-menu
    class="el-menu-demo"
    mode="horizontal"
    :router="true"
    background-color="#ed6b6c"
    text-color="#ffcfcc"
    active-text-color="#fff"
  >
    <el-menu-item index="0" route="/">Home</el-menu-item>
    <el-menu-item index="1" route="/reward" v-if="isLoggedIn">Belohnen</el-menu-item>
    <el-menu-item index="2" route="/compare" v-if="isLoggedIn">Vergleichen</el-menu-item>
    <el-menu-item-group align="right" style="margin-right: 15px;">
      <el-button
        class="main-color"
        v-if="isLoggedIn"
        @click="logout()"
        style="padding: 6px 6px;"
      >Logout</el-button>
    </el-menu-item-group>
  </el-menu>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'
import {UserModule} from '../../store/modules/userModule'
import {MessagesModule} from '@/store/modules/messages'

@Component
export default class TopMenu extends Vue {
  logout() {
    UserModule.logout()
    MessagesModule.clear()
    this.$router.push({path: '/'})
  }

  get isLoggedIn() {
    return UserModule.isloggedIn
  }
}
</script>

<style></style>
