<template>
  <el-dialog title="Belohnung verteilen" :visible.sync="dialogVisible" width="600px" @close="close">
    <el-row>
      <div style="margin-bottom: 10px;">Belohnen Sie {{user.username}} für:</div>
      <el-select v-model="assetId" placeholder="Belohnung auswählen">
        <el-option
          v-for="mapping in rewards"
          :key="'reward_'+mapping.type"
          :label="mapping.type"
          :value="mapping.assetId"
        ></el-option>
      </el-select>
    </el-row>

    <span slot="footer" class="dialog-footer">
      <el-button @click="close()">Cancel</el-button>
      <el-button type="primary" @click="sendReward()">Reward</el-button>
    </span>
  </el-dialog>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'
import {User, RewardType, assetIdMapping, RewardMapping} from '@/models'
import {transferToken} from '@/lib'
import {MessagesModule} from '../../store/modules/messages'

@Component
export default class RewardDialog extends Vue {
  @Prop() readonly user!: User
  @Prop() readonly dialogVisible!: boolean

  rewards: RewardMapping[] = assetIdMapping
  assetId: string = ''

  sendReward() {
    if (this.user.wavesAddress && this.assetId) {
      transferToken(this.user.wavesAddress, this.assetId)
      MessagesModule.clear()
      MessagesModule.addInfo(`${this.user.username} wurde mit einem Token belohnt`)
      this.$emit('close-reward-dialog')
    }
  }

  close() {
    this.$emit('close-reward-dialog')
  }
}
</script>
