<template>
  <div>
    <el-form
      :model="user"
      :rules="rules"
      ref="loginForm"
      label-width="200px"
      label-position="top"
      style="width: auto"
      class="hidden-xl-only"
    >
      <el-form-item label="Benutzername" prop="username">
        <el-input v-model="user.username"></el-input>
      </el-form-item>
      <el-form-item label="Passwort" prop="password">
        <el-input v-model="user.password" type="password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="form-button" @click="login()">Login</el-button>
      </el-form-item>
    </el-form>
    <el-form
      :model="user"
      :rules="rules"
      ref="loginForm"
      label-width="200px"
      style="width: 800px"
      class="hidden-lg-and-down"
    >
      <el-form-item label="Benutzername" prop="username">
        <el-input v-model="user.username"></el-input>
      </el-form-item>
      <el-form-item label="Passwort" prop="password">
        <el-input v-model="user.password" type="password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="form-button" @click="login()">Login</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {UserModule} from '@/store/modules/userModule'
import {MessagesModule} from '@/store/modules/messages'
import ElementUI from 'element-ui'
import {User} from '@/models'
import {login} from '@/api'
import NProgress from 'nprogress'
import {AllUsersModule} from '../../store/modules/allUsersModule'

@Component
export default class LoginForm extends Vue {
  user: User = {
    username: '',
    password: ''
  }
  rules = {
    username: [{required: true, message: 'Bitte Benutzername eingeben', trigger: 'blur'}],
    password: [{required: true, message: 'Bitte Passwort eingeben', trigger: 'blur'}]
  }

  async login() {
    if (this.isFormValid()) {
      NProgress.start()
      MessagesModule.clear()
      await login(this.user)
      await AllUsersModule.loadAllUsers()
      await AllUsersModule.prepareRanking()
      NProgress.done()
    }
  }

  isFormValid(): boolean {
    let validationSuccess = false
      /* tslint:disable */
    ;(this.$refs.loginForm as ElementUI.Form).validate((success: boolean) => {
      validationSuccess = success
    })
    /* tslint:enable */
    return validationSuccess
  }
}
</script>
