<template>
  <div class="view">
    <el-row :gutter="20">
      <el-col :span="8">
        <p></p>
        <i class="el-icon-user-solid" style="font-size: 4rem; color: #70b7be"></i>
      </el-col>
      <el-col :span="11">
        <h3>{{user.username}}</h3>
        <div>{{user.company}}</div>
      </el-col>
      <el-col :span="1"></el-col>
    </el-row>
    <p></p>
    <el-row :gutter="20" class="dark-background">
      <el-col :span="20">
        <h4>Awards & Badges</h4>
      </el-col>
    </el-row>
    <el-row>
      <div
        v-for="ranking in userRanking"
        :key="'ranking_' + ranking.type"
        style="display: inline-block"
      >
        <div class="badgeArea" v-if="isFirst(ranking.rank)">
          <div class="badgeFrame">
            <i class="el-icon-medal-1 gold-icon iconMargin" style="font-size: 2em"></i>
            <div class="badgeTitle">{{ranking.type}}</div>
          </div>
        </div>
      </div>
    </el-row>
    <p></p>
    <el-row :gutter="20" class="dark-background">
      <el-col :span="20">
        <h4>Skills & Beschreibung</h4>
      </el-col>
    </el-row>
    <el-row>
      <div style="margin-top: 20px;">{{user.description}}</div>
    </el-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {UserModule} from '@/store/modules/userModule'
import {AllUsersModule} from '@/store/modules/allUsersModule'
import {RankingEntry} from '@/models'

@Component
export default class AccountDetails extends Vue {
  get user() {
    return UserModule.user
  }

  get userRanking(): RankingEntry[] {
    const userId = UserModule.user.id as number
    return AllUsersModule.rankingForUserId(userId)
  }

  isFirst(rank: number) {
    return rank === 1
  }
}
</script>

<style scoped>
.badgeArea {
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
}
.badgeFrame {
  border: 3px solid #70b7be;
  border-radius: 1em/5em;
  -moz-border-radius: 1em/5em;
  background-color: #d7fafd;
  padding: 10px 20px;
}
.badgeTitle {
  margin-top: 10px;
  font-weight: bold;
}
.iconMargin {
  margin-top: 10px;
}
</style>
