<template>
  <div>
    <div v-if="hasErrors">
      <el-alert
        v-for="(error, index) in errors"
        :key="'error_' + index"
        :title="error"
        type="error"
        effect="dark"
        @close="removeError(index)"
      >
      </el-alert>
    </div>
    <div v-if="hasInfos">
      <el-alert
        v-for="(info, index) in infos"
        :key="'info_' + index"
        :title="info"
        type="success"
        effect="dark"
        @close="removeInfo(index)"
      >
      </el-alert>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {MessagesModule} from '@/store/modules/messages'

@Component
export default class MessageBox extends Vue {
  get errors(): string[] {
    return MessagesModule.errors
  }
  get hasErrors(): boolean {
    return MessagesModule.hasErrors
  }
  removeError(index: number) {
    MessagesModule.removeError(index)
  }
  get infos(): string[] {
    return MessagesModule.infos
  }
  get hasInfos(): boolean {
    return MessagesModule.hasInfos
  }
  removeInfo(index: number) {
    MessagesModule.removeInfo(index)
  }
}
</script>
