<template>
  <div class="view">
    <el-row>
      <el-col :span="23">
        <h2>Rangierung</h2>
        <h4>Hier deine Rangierung im Vergleich zu den anderen Community-Mitgliedern</h4>
      </el-col>
      <el-col :span="1">
        <p></p>
        <i class="el-icon-medal gold-icon" style="font-size: 4rem"></i>
      </el-col>
    </el-row>
    <el-row>
      <el-tabs type="card">
        <el-tab-pane :label="username">
          <el-table :data="userRanking" style="width: 100%" class="dark-background">
            <el-table-column width="50">
              <template slot-scope="scope">
                <i :class="iconFromRewardType(scope.row.type)"></i>
              </template>
            </el-table-column>
            <el-table-column prop="type" label="Type"></el-table-column>
            <el-table-column prop="amount" label="Amount"></el-table-column>
            <el-table-column prop="rank" label="Rank"></el-table-column>
            <el-table-column>
              <template slot-scope="scope">
                <i class="el-icon-medal-1 gold-icon" v-if="isFirst(scope.row.rank)"></i>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {AllUsersModule} from '@/store/modules/allUsersModule'
import {UserModule} from '@/store/modules/userModule'
import {Reward, RewardType, RankingEntry} from '@/models'
import {getIconFromRewardType} from '@/lib/displayUtil'
import NProgress from 'nprogress'

@Component
export default class Compare extends Vue {
  get userRanking(): RankingEntry[] {
    const userId = UserModule.user.id as number
    return AllUsersModule.rankingForUserId(userId)
  }

  get username() {
    return UserModule.user.username
  }

  async created() {
    NProgress.start()
    await AllUsersModule.loadAllUsers()
    await AllUsersModule.prepareRanking()
    NProgress.done()
  }

  iconFromRewardType(type: RewardType) {
    return getIconFromRewardType(type)
  }

  isFirst(rank: number) {
    return rank === 1
  }
}
</script>
