<template>
  <div class="view">
    <div v-if="isLoggedIn">
      <AccountDetails />
    </div>
    <div v-if="!isLoggedIn">
      <el-row :gutter="20">
        <el-col :span="12">
          <el-card class="light-background">
            <div class="moduleTitle">Log in</div>
            <LoginForm />
          </el-card>
        </el-col>
        <el-col :span="12">
          <el-card class="light-background">
            <div class="moduleTitle">Neuen Account anlegen</div>
            <el-button @click="register()">Registrieren</el-button>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {UserModule} from '@/store/modules/userModule'
import router from '../router'
import ElementUI from 'element-ui'
import {User} from '@/models'
import AccountDetails from '@/components/AccountDetails.vue'
import LoginForm from '@/components/login/LoginForm.vue'
import {login} from '@/api'

@Component({
  components: {
    AccountDetails,
    LoginForm
  }
})
export default class Home extends Vue {
  register() {
    router.push('/register')
  }

  get isLoggedIn() {
    return UserModule.isloggedIn
  }

  get username() {
    return UserModule.user.username
  }
}
</script>

<style scoped>
.moduleTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
</style>
