<template>
  <div class="view">
    <h1>Registrierung</h1>

    <el-form :model="user" :rules="rules" ref="registerForm" label-width="200px" style="width: 800px">
      <el-form-item label="Benutzername" prop="username">
        <el-input v-model="user.username"></el-input>
      </el-form-item>
      <el-form-item label="Passwort" prop="password">
        <el-input v-model="user.password" type="password"></el-input>
      </el-form-item>
      <el-form-item label="Vorname" prop="firstname">
        <el-input v-model="user.firstname"></el-input>
      </el-form-item>
      <el-form-item label="Nachname" prop="lastname">
        <el-input v-model="user.lastname"></el-input>
      </el-form-item>
      <el-form-item label="E-Mail Adresse" prop="email">
        <el-input v-model="user.email"></el-input>
      </el-form-item>
      <el-form-item label="Firma" prop="company">
        <el-input v-model="user.company"></el-input>
      </el-form-item>
      <el-form-item label="Profilbeschreibung" prop="description">
        <el-input v-model="user.description"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="form-button" @click="register()">Registrieren</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import ElementUI from 'element-ui'
import {UserModule} from '@/store/modules/userModule'
import {User} from '../models'
import {register} from '@/api'
import {createNewWavesAccount} from '@/lib'
import NProgress from 'nprogress'

@Component
export default class Register extends Vue {
  user: User = {
    username: '',
    password: '',
    firstname: '',
    lastname: '',
    email: '',
    company: '',
    description: ''
  }
  rules = {
    username: [{required: true, message: 'Bitte Benutzername eingeben', trigger: 'blur'}],
    password: [{required: true, message: 'Bitte Passwort eingeben', trigger: 'blur'}],
    firstname: [{required: true, message: 'Bitte Vornamen eingeben', trigger: 'blur'}],
    lastname: [{required: true, message: 'Bitte Nachnamen eingeben', trigger: 'blur'}],
    email: [{required: true, message: 'Bitte E-Mailadresse eingeben', trigger: 'blur'}],
    company: [{required: true, message: 'Bitte Firma eingeben', trigger: 'blur'}],
    description: [{required: true, message: 'Bitte Profilbeschreibung eingeben', trigger: 'blur'}]
  }

  async register() {
    if (this.isFormValid()) {
      NProgress.start()
      const newAccount = await createNewWavesAccount()
      register({...this.user, ...{wavesAddress: newAccount.seed.address, seed: newAccount.seed.phrase}})
      NProgress.done()
    }
  }

  isFormValid(): boolean {
    let validationSuccess = false
      /* tslint:disable */
    ;(this.$refs.registerForm as ElementUI.Form).validate((success: boolean) => {
      validationSuccess = success
    })
    /* tslint:enable */
    return validationSuccess
  }
}
</script>

<style>
.form-button {
  background-color: #ed6b6c;
  color: white;
}
</style>
