<template>
  <div class="view">
    <el-row>
      <el-col :span="23">
        <h2>Hey, {{ username }}!</h2>
        <h4>Es ist Zeit eine Belohnung zu verteilen</h4>
      </el-col>
      <el-col :span="1">
        <p></p>
        <i class="el-icon-coin gold-icon" style="font-size: 4rem"></i>
      </el-col>
    </el-row>
    <el-row>
      <el-tabs type="card">
        <el-tab-pane label="Kontakte">
          <el-table
            :data="allUsers"
            style="width: 100%"
            class="dark-background selectable"
            @row-dblclick="rowDblClick"
          >
            <el-table-column>
              <i class="el-icon-user-solid"></i>
            </el-table-column>
            <el-table-column prop="username" label="Name"></el-table-column>
            <el-table-column prop="company" label="Company"></el-table-column>
            <el-table-column prop="wavesAddress" label="Address"></el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-row>
    <RewardDialog
      v-if="dialogVisible"
      :user="selectedUser"
      :dialogVisible.sync="dialogVisible"
      @close-reward-dialog="dialogVisible = false"
    />
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {UserModule} from '@/store/modules/userModule'
import {User} from '@/models'
import RewardDialog from '@/components/reward/RewardDialog.vue'
import {AllUsersModule} from '../store/modules/allUsersModule'
import NProgress from 'nprogress'

@Component({
  components: {
    RewardDialog
  }
})
export default class Reward extends Vue {
  allUsers: User[] = []
  dialogVisible = false
  selectedUser: User | undefined = undefined

  get username() {
    return UserModule.user.username
  }

  get userId() {
    const userId = UserModule.user.id as number
    return userId
  }

  async mounted() {
    NProgress.start()
    await AllUsersModule.loadAllUsers()
    const users = AllUsersModule.allUsers
    // remove logged in user
    this.allUsers = users.filter((u) => u.id !== this.userId)
    NProgress.done()
  }

  rowDblClick(user: User) {
    this.selectedUser = user
    this.dialogVisible = true
  }
}
</script>
