<template>
  <div class="view">
    <el-row :gutter="20">
      <el-col :span="6">
        <h2>Set name to Account Storage</h2>
        <el-input v-model="dataTransactionName" placeholder="Enter main account users name"></el-input>
        <el-button @click="dataTransaction()">send</el-button>
        <div v-if="dataTransactionResponse">
          <h3>Result</h3>
          {{ dataTransactionResponse }}
        </div>
      </el-col>
      <el-col :span="6">
        <h2>Data from Account Storage</h2>
        <el-button @click="getUserDataByAddress()">send</el-button>
        <div v-if="addessData">
          <h3>Result</h3>
          {{ addessData }}
        </div>
      </el-col>
      <el-col :span="6">
        <h2>Create new Account with welcome token</h2>
        <el-input v-model="newAccountName" placeholder="Enter new account name"></el-input>
        <el-input v-model="newAccountCompany" placeholder="Enter company name"></el-input>
        <el-button @click="createNewAccount()">send</el-button>
        <div v-if="newAccount">
          <h3>Result</h3>
          {{ newAccount }}
        </div>
      </el-col>
      <el-col :span="6"></el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {dataTransaction, createSeed, createNewWavesAccount} from '@/lib'
import {getUserDataByAddress} from '@/api/waves'
import NProgress from 'nprogress'

@Component
export default class Tests extends Vue {
  dataTransactionName: string = ''
  dataTransactionCompany: string = ''
  dataTransactionResponse: any = ''
  addessData: any = ''
  newAccountName: string = ''
  newAccountCompany: string = ''
  newAccount: any = ''

  async dataTransaction() {
    if (this.dataTransactionName && this.dataTransactionCompany) {
      this.dataTransactionResponse = await dataTransaction(
        this.dataTransactionName,
        this.dataTransactionCompany,
        'dilemma glow feature fee custom asset myth visa custom appear iron gadget tree shuffle purse'
      )
    }
  }

  async getUsersName() {
    const mainAccountAddress = '3N9jk8TREvENXGtGiurX87c328yEPKbM8QV'
    this.addessData = await getUserDataByAddress(mainAccountAddress)
  }

  async createNewAccount() {
    if (this.newAccountName && this.newAccountCompany) {
      NProgress.start()
      this.newAccount = await createNewWavesAccount()
      NProgress.done()
    }
  }
}
</script>
