body {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  font-size: 1.1em;
  color: #2c3e50;
}
.main-color {
  color: #ed6b6c;
}
.color-background {
  background-color: #ffcfcc;
}
.dark-background {
  background-color: #70b7be;
  color: #fff;
}
.light-background {
  background-color: #a2d0d5;
  color: #fff;
}
.header {
  height: 140px !important;
  color: #ed6b6c;
  font-size: 2rem;
  text-align: left;
}
.footer {
  color: #fff;
}
.view {
  padding: 0.5em 0.5em;
}

/** el menu */
.el-menu li {
  font-size: 1.1em;
  font-weight: bold;
}

/** el button */
button.el-button {
  background-color: #70b7be;
  color: #fff;
  border: 1px solid #70b7be;
  font-size: 1em;
}
button.el-button:hover {
  background-color: #a2d0d5;
  color: #fff;
  border: 1px solid #fff;
}
button.el-button.main-color {
  background-color: #ed6b6c;
  color: #fff;
  border: 1px solid #ffcfcc;
}
button.el-button.main-color:hover {
  background-color: #ffcfcc;
  color: #fff;
  border: 1px solid #fff;
}

/** el tabs */
.el-tabs {
  color: #fff;
}
.el-tabs__header {
  margin: 0;
  padding: 0;
}
.el-tabs__nav {
  border: none !important;
}
.el-tabs__item {
  font-size: 1.1em;
  background-color: #a2d0d5;
  color: #fff;
}
.el-tabs__item:hover {
  background-color: #70b7be;
  color: #fff;
}
.el-tabs__item.is-active {
  background-color: #70b7be;
  color: #fff;
  border-bottom: none !important;
}
.el-tabs__content {
  font-size: 1em;
  padding: 1em;
  background-color: #70b7be;
}

/** el table */
.el-table.dark-background th,
.el-table.dark-background tr {
  background-color: #70b7be;
  color: #fff;
}

.el-table.dark-background tr:hover {
  background-color: #a2d0d5;
  color: #70b7be;
}

.el-table__row .cell {
  font-size: 1.2em;
}

.el-table__row td i {
  font-size: 24px !important;
}

.el-table.selectable .el-table__row {
  cursor: pointer;
}

/** Forms */
.el-form-item__label {
  font-size: 1.1em;
}

/** alerts */
.el-alert {
  margin: 5px 0px;
}

/** icon */
i.gold-icon {
  color: gold;
}
